// styles.scss
@import "global";

$primary-color: #3498db;

@mixin flex-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: $primary-color;

  h1 {
    color: red;
  }
}
